*{
    box-sizing: border-box; 
}

header{
    background-image: linear-gradient(darkorchid, purple);
    color:indigo;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    float:left;
    width: 30%;
    height: 300px;
    background: rgb(179, 144, 179);
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding:0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background: beige;
    height: 300px;
}

section:after{
    content: "";
    display: table;
    clear: both;
}


footer {
    background-image:linear-gradient(darkorchid, purple);
    padding: 10px;
    text-align: center;
    color:beige;
}
