@font-face {
    font-family: 'custom';
    src: url(RetroVintage-Regular.otf);
}

@font-face {
    font-family: 'saturday';
    src: url(Saturday.otf);
}


*{
    box-sizing: border-box; 
}

.navbar {
    width: 100%;
    background-color: darkorchid;
    padding: 20px;
    font-family: 'custom';
    font-size: 30px;
}

.contents{
  font-family: "saturday";
}

nav ul {
   list-style-type: none;
   padding: 0;
}

.container-fluid {
   width: 100;
   background-color: beige;
}

article {
height: 76vh;
}

footer {
    background-image:linear-gradient(darkorchid, purple);
    padding: 10px;
    text-align: center;
    color:beige;
}